<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893307652632-q2f8nhovgvghjtuoa2743nstjvfcf0e4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893307652632-q2f8nhovgvghjtuoa2743nstjvfcf0e4</string>
	<key>API_KEY</key>
	<string>AIzaSyB_-6PhmBe6g89DxQ_a-nQOyERKRhCGnMM</string>
	<key>GCM_SENDER_ID</key>
	<string>893307652632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gerd.app</string>
	<key>PROJECT_ID</key>
	<string>gerd-d8a5e</string>
	<key>STORAGE_BUCKET</key>
	<string>gerd-d8a5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893307652632:ios:0bc40d9f5cd710ad8d116d</string>
    <key>FirebaseAppDelegateProxyEnabled</key>
    <false/>
</dict>
</plist>